# Ignore node_modules (dependencies)
node_modules/

# Ignore environment variables file
.env

# Ignore Next.js build output
.next/

# Ignore build artifacts
dist/
build/

# Ignore macOS system files
.DS_Store
